<launch>
	<arg name="as" default="0" />
	<arg name="lhs" default="1" />
	<arg name="lto" default="1" />
	<arg name="rhs" default="1" />
	<arg name="rto" default="1" />
	<arg name="tl" default="NULL" />
	<arg name="ic" default="0" />
	<arg name="rr" default="100" />
	<param name="rr" value="$(arg rr)" />
	<node name="afo_sensor" pkg="afo_sensor" type="afo_sensor" output="screen">
	</node>
	<node name="afo_predictor" pkg="afo_predictor" type="data_predictor.py" output="screen" clear_params="true">
		<param name="lhs" value="$(arg lhs)" />
		<param name="lto" value="$(arg lto)" />
		<param name="rhs" value="$(arg rhs)" />
		<param name="rto" value="$(arg rto)" />
		<param name="tl" value="$(arg tl)" />
		<param name="ic" value="$(arg ic)" />
		<param name="as" value="$(arg as)" />
	</node>
	<node name="afo_arduino" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" output="screen">
	</node>
	<node name="afo_sync" pkg="afo_sync" type="afo_sync" output="screen">
	</node>
	<node name="afo_controller" pkg="afo_controller" type="afo_controller" output="screen" clear_params="true" >
	<param name="configPath" value="/home/srbl/catkin_ws/src/afo/afo_controller/config/setup.yaml"/>
	</node>
</launch>
